@import '@pluralsight/ps-design-system-core';

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .checkbox, .radio-group, .privacy-policy {
    text-align: left;
    margin: 1rem 0;
  }
  
  .checkbox p, .privacy-policy p {
    margin-bottom: 0.5rem;
  }
  
  .psds-checkbox__label, .psds-radio__label {
    margin-left: 0.5rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .psds-badge {
    margin-bottom: 1rem;
  }
  
  .psds-banner {
    margin-bottom: 1rem;
  }
  
  .psds-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .psds-link a:hover {
    text-decoration: underline;
  }
  
  .submit {
    display: flex;
    justify-content: center;
  }